.App-header{
    display: flex;
    height: 60px;
    background-color: black;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }

.navs{
    position: flex;
    justify-content: space-evenly;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    width: 500px;
}


.navlink {
    margin: 10px;
    color:lightgrey;
    text-decoration: none;
}