.App-header{
    display: flex;
    height: 60px;
    background-color: black;
    margin: auto;
    padding-top: 8px;
    align-content: center;
    justify-content: space-between;
  }

.Navs{
    position: flex;
    justify-content: space-evenly;
    font-size: 20px;
    text-decoration: none;
    margin: 10px;
    width: 500px;
}


.Navlink {
    margin: 10px;
    color:lightgrey;
    text-decoration: none;
}


.User-interaction{
    position: flex;
    width: 500px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.Dp-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}